
<!-- Navbar and Header -->
<navbar class="mdl-layout__header"></navbar>

<!-- Where primary content will be loaded. -->

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col commands" >
        <span class="mdl-chip" ng-click="appCtrl.select(note)" ng-repeat="note in appCtrl.commands">
            <span class="mdl-chip__text">{{note.command}}</span>
        </span>
    </div>
</div>
<section class="mdl-layout__content page-content" ui-view>
   
</section>

<!-- Footer Content -->
<footer class="mdl-mini-footer"></footer>