
<!-- Navbar and Header -->
<navbar></navbar>

<!-- Where primary content will be loaded. -->

<md-content layout="row" layout-align="center center">
    <md-chips ng-model="appCtrl.commands" readonly="true" md-removable="true">
        <md-chip-template>
            <span ng-click="appCtrl.select($chip)">{{$chip.command}}</span>
        </md-chip-template>
    </md-chips>
</md-content>
<section layout-padding ui-view>
   
</section>

<!-- Footer Content -->
<footer layout-padding layout="row" layout-align="space-between center"></footer>